<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>様、example.comへようこそ。</h1>
      <p>
      <font color = "green">
      example.comへのサインアップが成功しました。
      </font>
    </p>
    <p>
      このサイトにログインするにはここをクリック
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
    <p>これはhtmlです</p>

      お名前：<%= @name %><br>
      電話番号：<%= @phone %><br>
      会社名：<%= @company %><br>
      メールアドレス：<%= @email %><br>
      注文数：<%= @quantity %>口<br>

  </body>
</html>
